<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SeguridadSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tec-dev.itcr.ac.cr/wsSeguridad/Seguridad.asmx"
                binding="basicHttpBinding" bindingConfiguration="SeguridadSoap"
                contract="wsSeguridad.SeguridadSoap" name="SeguridadSoap" />
        </client>
    </system.serviceModel>
</configuration>